[user]
	email = joe@trusktr.io
	name = Joseph Orbegoso Pea
[push]
	default = simple
[diff]
	tool = meld
[color]
	ui = true
[core]
	editor = nvim
	autocrlf = input
[alias]
	co = checkout
	br = branch
	s = status
	st = status
	sta = status
	stat = status
	statu = status
	status = status
	statsu = status
	dif = diff
	staus = status
	statis = status
	stauts = status
	l = log
	pul = pull
	d = diff
	sattus = status
	sttus = status
	satus = status
