[user]
	name = Joe Pea
	email = joe@trusktr.io
[push]
	default = simple
[diff]
	tool = meld
[color]
	ui = true
[core]
	editor = nvim
	autocrlf = input
[alias]
	co = checkout
	br = branch
	s = status
	st = status
	sta = status
	stat = status
	stats = status
	statu = status
	statsu = status
	staus = status
	statis = status
	stauts = status
	sattus = status
	sttus = status
	satus = status
	dif = diff
	l = log
	logg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ll = logg
	pul = pull
	d = diff
; Enable only if using credential manager.
;[credential]
	;helper = !/Library/Java/JavaVirtualMachines/jdk1.8.0_92.jdk/Contents/Home/jre/bin/java -Ddebug=false -Djava.net.useSystemProxies=true -jar /usr/local/Cellar/git-credential-manager/1.6.0/libexec/git-credential-manager-1.6.0.jar
[url "git@github.com:"]
    insteadOf = https://github.com/
[merge]
	log = true
