"*":
  "advanced-open-file":
    createDirectories: true
    createFileInstantly: true
    fuzzyMatch: true
    helmDirSwitch: true
  "atom-ide-ui":
    "atom-ide-diagnostics-ui":
      showDiagnosticTraces: true
    "atom-ide-terminal":
      lineHeight: 1.2
      preservedCommands: [
        "command-palette:toggle"
        "fb-interactive-smartlog:toggle"
        "nuclide-quick-open:find-anything"
        "atom-ide-terminal:add-escape-prefix"
        "atom-ide-terminal:new-terminal"
        "atom-ide-terminal:toggle-terminal-focus"
        "pane:move-active-item-to-top-of-stack"
        "pane:show-next-recently-used-item"
        "window:focus-next-pane"
        "window:focus-previous-pane"
        "window:focus-pane-above"
        "window:focus-pane-below"
        "window:focus-pane-on-left"
        "window:focus-pane-on-right"
        "pane:show-next-item"
        "pane:show-previous-item"
      ]
      scrollback: 100000
  "base16-syntax":
    scheme: "Chalk"
    style: "Dark"
  "bracket-matcher":
    autocompleteBrackets: false
    highlightMatchingLineNumber: true
  "city-lights-ui":
    showTabsInTreeView: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "toggle-quotes"
      "vim-mode-plus-ex-mode"
      "atom-browser"
      "atom-webbrowser"
      "browser-plus"
      "pane-browser"
      "keymap-control"
      "platformio-ide-terminal"
      "terminal-plus"
      "atom-terminal-panel"
      "file-type-icons"
      "language-javascript-semantic"
      "language-babel"
      "terminal-tab"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "atom-material-syntax"
    ]
    titleBar: "custom"
    useTreeSitterParsers: true
  editor:
    fontFamily: "Space Mono, Inconsolata Nerd Font Mono, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 16
    scrollPastEnd: true
    tabLength: 4
  "exception-reporting":
    userId: "603f14e1-a923-4cf4-93dc-bc56598e55dc"
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "minimap-quick-highlight": true
      "minimap-quick-highlightDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  "project-plus":
    newWindow: true
    showPath: true
  welcome:
    showOnStartup: false
