"*":
  "advanced-open-file":
    createDirectories: true
    createFileInstantly: true
    fuzzyMatch: true
    helmDirSwitch: true
  "atom-ide-ui":
    "atom-ide-diagnostics-ui":
      showDiagnosticTraces: true
  "base16-syntax":
    scheme: "Chalk"
    style: "Dark"
  "bracket-matcher":
    autocompleteBrackets: false
    highlightMatchingLineNumber: true
  "city-lights-ui":
    showTabsInTreeView: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "toggle-quotes"
      "vim-mode-plus-ex-mode"
      "atom-browser"
      "atom-webbrowser"
      "browser-plus"
      "pane-browser"
      "keymap-control"
      "platformio-ide-terminal"
      "terminal-plus"
      "atom-terminal-panel"
      "file-type-icons"
      "language-javascript-semantic"
      "language-babel"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "atom-material-syntax"
    ]
    titleBar: "custom"
    useTreeSitterParsers: true
  editor:
    fontFamily: "Space Mono, Inconsolata Nerd Font Mono, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 16
    scrollPastEnd: true
    tabLength: 4
  minimap:
    plugins:
      "git-diff": true
      "highlight-selected": true
      "minimap-quick-highlight": true
      pigments: true
