[
  {
    title: "React Typescript Archetype"
    paths: [
      "/Users/trusktr/src/react-typescript-archetype"
    ]
  }
  {
    title: "Signafy Mapper Annotator"
    paths: [
      "/Users/trusktr/src/Signafy+mapper-annotator"
    ]
  }
  {
    title: "Signafy Mapper Saffron Roadnetwork Editor"
    paths: [
      "/Users/trusktr/src/Signafy+mapper-saffron-roadnetwork-editor"
    ]
  }
  {
    title: "Signafy Mapper Saffron"
    paths: [
      "/Users/trusktr/src/Signafy+mapper-saffron"
    ]
  }
]
